*
{
    padding: 0.4em;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



h1
{
    text-align: center;
    margin-top: 1em;
}

.nav
{
    list-style-type: none;
    margin: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li
{
    margin-right: 1em;
}

.nav a
{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.nav a:hover
{
    background-color: grey;
}

.container
{
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.black-eyed
{
    width: 400px;
    height: 400px;
    margin-top: 1em;
    border-radius: 4px;
}

.first-para
{
    margin-top: 1em;
}

.prep-time
{
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(248, 230, 230);
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    justify-content: space-between;
    width: 70%;
}









